  @font-face{
  font-family: "linda";
    src: url(../font/DancingScript-Bold.ttf )format("opentype");
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

:root{
   --fonte-lindo:"linda";
}
main{
    padding: 10px ;
    width: 350px;
    height: 100vh;
    margin: auto;
    border-radius: 20px;
    border: 1px solid black;
    backface-visibility: hidden;
    backdrop-filter:blur(20px) ;
    background-color: rgba(0, 0, 0, 0.808);
   
}


body{
    margin: 0%;
    padding: 0%;
    background: url(../img/etus-evolucao-redes-sociais-800x400.jpg);
    
}

header{
    background-color: rgba(0, 0, 0, 0.694);
    backface-visibility:unset;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px 2px black;
    border: 1px  solid black;
}

header h1 {
    font-family:var(--fonte-lindo);
    font-size: 60px;
    color: #d500bb;
    padding: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}
header#labo  img{
    border-radius: 50%;
    box-shadow: 1px 1px 9px black;
    width: 50px;
    padding: 7px;
    box-sizing: border-box;
    
}

header#labo img:hover{
    border: 1px solid #d500bb;
    background-color: rgb(199, 227, 255);
}
nav{
    text-decoration: none;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

nav#link a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    
}

nav#link a:hover{
    color: #d500bb;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.507);
}

@media screen and (orientation:landscape) {
    main{
        padding: 10px;
        width: 100vh;
        height: 100vh;
        margin: auto;
        border-radius: 20px;
        border: 1px solid black;
        backface-visibility: hidden;
        backdrop-filter:blur(20px) ;
        background-color: #000000;
      }
 

     div h1{
        font-size: 30px;
     }

    footer{
       width: 100%;
    }

}

@media screen and (max-width:300px) {
    main{
        width: 250px;
        background-color: rgba(0, 0, 0, 0.808); 
        backface-visibility:unset;
        backdrop-filter: blur(10px);
    }
    header h1{
        font-size: 40px;
    }

     div h1{
        font-size: 20px;
     }
     footer h2{
        font-size: 18px;
    }
    footer h1 {
        font-size: 25px;
    }
    

}
@media screen and (max-width:280px) {
      main{
        background-color: rgba(0, 0, 0, 0.808);
        backface-visibility:unset;
        backdrop-filter: blur(10px);
        width: 210px;
      }
 
      header h1{
        font-size: 38px;
      }
    
}
@media screen and (min-width: 300px) and (max-width: 400px) {
    main{
        background-color: rgba(0, 0, 0, 0.808);
        backface-visibility:unset;
        backdrop-filter: blur(10px);
        width: 270px;
    }
    header h1 {
        font-size: 40px;
    }
    nav#link a {
        font-size: 15px;
    }
   
  
}

